* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* header start */
#header {
    background-color: #F2F9F4;
}

/* .nav-color {
    /* background-color: #6c9894; */
/* } */ */

.navbar {
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.navbar .logo {
    width: 50%;
    background-color: #6c9894;
    align-items: center;
    padding-left: 10px;
}

.navlist {
    text-align: right;
    background-image: url(/src/Task/image/shape.png);
    width: 450%;
    padding: 10px 10px;
    background-size: 100% 100%;
    padding-left: 15px;
}

.navlist .list {
    display: inline-block;
    margin: 0 10px;

}

.navlist .list .nav-a {
    text-decoration: none;
    font-size: 21px;
    word-spacing: 2px;
    text-transform: uppercase;
    color: #444444;
    font-family: "Baloo Bhai";
}

.navbar .icon .nav-b {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.nav-b {
    display: none;
}

/* header end */